body {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 10px 10px 10px;
}

body.form {
    max-width: 1000px;
}

.topbar {
    position: sticky;
    padding: 10px 0;
    top: 0;
    background-color: white;
    text-align: center;
    z-index: 1;
}

table.table {
    text-align: center;
}

table.table td {
  vertical-align: middle;
}

.error ul {
  margin-bottom: 0;
}

.error {
  display: none;
}

table.table td.state {
  font-size: 24px;
}
